<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="logname-%utcdate{yyyy-MM-dd}.txt" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%logger] [%thread] %level - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TWILIO_PHONE" value="+12166090960" />
  </appSettings>
  <!-- Log4net log levels cheatsheet (source: https://stackoverflow.com/questions/8926409/log4net-hierarchy-and-logging-levels):
  
           ALL    DEBUG   INFO    WARN    ERROR   FATAL   OFF
          •ALL                        
          •DEBUG  •DEBUG                  
          •INFO   •INFO   •INFO               
          •WARN   •WARN   •WARN   •WARN           
          •ERROR  •ERROR  •ERROR  •ERROR  •ERROR      
          •FATAL  •FATAL  •FATAL  •FATAL  •FATAL  •FATAL  
          •OFF    •OFF    •OFF    •OFF    •OFF    •OFF    •OFF
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>